@model IEnumerable<SafetyTourism_Group4.Models.Report>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.creationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.infectionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.infectedNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.omsAdvice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.destination)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.creationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.infectionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.infectedNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.omsAdvice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.destination.destinationID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.reportID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.reportID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.reportID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
